.title{
    font-size: 46px;
    color: #e8e8e8;
    text-transform: uppercase;
    text-align: center;

    position: relative;
}

.title:before{
    content: " ";
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: #2885a7;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}
